import(parallel)
exportMethods(
    "[",
    "[<-",
    "show",
    "summary",
    "plot",
    # "reset",
    
    # "newSNP",
    # "is.SNP",
    "chromosome",
    "is.chromosome",
    "enrichment",
    "is.enrichment",
    
    "reSample",
    "excludeSNP",
    "compareEnrichment"
)
exportClasses(
    "Chromosome",
    "Enrichment"
)
export(
    "initFiles",
    "writeLD",
    "readEnrichment",
    "GC",
    "mclapply2"
)


